* {
    box-sizing: border-box;
}


body {
    margin: 0;
}
.BIGTITLE{
    font-size: 100px;
    font-family:cursive;
    color: darkblue;
    text-align: center;
    text-shadow: -2px 3px 1px darkcyan, 0px 0px 10px white, 2px -2px 1px white;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 20% 80%;
   
    grid-template-rows: auto auto auto;
   
}
.header{
    background: crimson;
    text-align: center;
    grid-area: header;
    padding: 10px;
}