* {
    box-sizing: border-box;
}


body {
    margin: 0;
}
.BIGTITLE{
    font-size: 70px;
    font-family:cursive;
    color: darkblue;
    text-align: center;
    text-shadow: -2px 3px 1px darkcyan, 0px 0px 10px white, 2px -2px 1px white;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 20% 80%;
   
    grid-template-rows: auto auto auto;
   
}
.header nav {
    display: flex;
    justify-content: center;
    gap: 200px;
    
}
.righticon{
    float: right;
    height: 100px;
    width: 100px;
    padding-right: 20px;
    margin-top: 10px;
}
.lefticon{
    float: left;
    height: 100px;
    width: 100px;
    padding-left: 20px;
    margin-top: 10px;
}
.header{
    background: crimson;
    text-align: center;
    grid-area: header;
    padding: 10px;
}
.Home{
    font-size: 50px;
    font-family:cursive;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: -2px 3px 1px rgb(255, 255, 255), 0px 0px 10px white, 2px -2px 1px white;
    float:left;
}
.NOUNDERSHITER{
    text-decoration:none;
}